header {
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  width: 100vw;
  height: 70px;
  background-color: #ebebeb;
}

header .brand a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.3rem;
}

header .brand img {
  height: 50px;
}

.navList {
  height: 100%;
  display: flex;
  align-items: center;
}

.navLink {
  color: #ff4655;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 2rem;
  border-radius: 10px;
}
