* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "je";
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #ff4655;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}
