.map {
  width: 23%;
  height: 15rem;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
  margin: 0.4rem;
  word-wrap: break-word;
}

.map h1 {
  font-weight: 400;
  font-size: 1.7rem;
  color: #f9f9f9;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.map:hover h1 {
  color: #000000;
  word-wrap: break-word;
}

@media screen and (max-width: 1570px) {
  .map {
    width: 30%;
  }
}

@media screen and (max-width: 1250px) {
  .map h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1150px) {
  .map {
    width: 45%;
  }
}

@media screen and (max-width: 800px) {
  .map {
    width: 90%;
    margin: 0.4rem 0;
  }
}

@media screen and (max-width: 600px) {
  .map {
    margin: 0.4rem 0;
  }
}

@media screen and (max-width: 450px) {
  .map {
    width: 98%;
    margin: 0.4rem 0;
  }
}
